@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@500&family=Roboto+Mono&family=Roboto:wght@400;500;700&display=swap");

body {
  margin: 0;
  padding: 3rem;
  background-color: #4f4f4f;
  color: rgb(225, 225, 225);
  font-family: "Roboto Mono", monospace;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: #8de4ff;
  &:hover {
    transform: scale(1.1);
    transition: 1s;
  }
}

button {
  padding: 1rem;
  background-color: #181818;
  color: rgb(232, 232, 232);
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

  &:hover {
    transform: scale(1.1);
    transition: 0.25s;
  }
}
